*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
  
ol, ul {
    list-style: none;
  }

h1 {
    color: #348520;
    background: #598520;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 24px;
}

.text1 {
    text-align: center;
    color: #205985;
}

.text2 {
    padding: 0 20px 20px 20px;
    text-align: left;
    color: #c94b28;
    border-bottom: 1px solid #000;
}

.text3 {
    padding: 20px 20px 0 0;
    text-align: right;
}